/*
 * Device Tree overlay to connect a LF101-8001280-AMA DSI panel to DSI1.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&dsi1>;
		__overlay__{
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			port {
				dsi_out_port:endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};

			lf101_8001280_ama@0 {
				compatible    = "luckfox,lf101-8001280-ama";
				status        = "okay";
				reg           = <0>;
		        reset-gpios   = <&gpio 17 GPIO_ACTIVE_LOW>;           
				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

};
